---
template: main.html
title: News
---

{{define "content"}}
<h1>
    News
</h1>

<div class="my-8">
    {{range sources "Path" "/news/*" | sort "Meta.date" "desc" | paginate 2 }}
    <div class="border shadow m-2 p-4">
        <a href="{{.Path}}">
            {{index .Meta "title"}}
            <span class="text-sm text-gray-500">{{index .Meta "date"}}</span>
        </a>
        <p>{{index .Meta "summary"}}</p>
    </div>
    {{end}}
    <div class="pl-3 pt-1">
    {{range pages .Source}}
        {{if .Active}}
            <span class="border bg-blue-800 p-2">{{.Page}}</span>
        {{else}}
            <a href="{{.Path}}" class="border shadow p-2">{{.Page}}</a>
        {{end}}
    {{end}}
    </div>
</div>
{{end}}