---
template: main.html
title: Posts
---

{{define "content"}}
<h1>
    Posts
</h1>

<div class="my-8">
    {{range data "posts.json" | select | sort "Key" "desc" | paginate 2 }}
    <div class="border shadow m-2 p-4">
        <a href="{{page "post.html" .Key}}">{{index .Value "by"}}:</a>
        <p>{{index .Value "body"}}</p>
    </div>
    {{end}}
    <div class="pl-3 pt-1">
    {{range pages .Source}}
        {{if .Active}}
            <span class="border bg-blue-800 p-2">{{.Page}}</span>
        {{else}}
            <a href="{{.Path}}" class="border shadow p-2">{{.Page}}</a>
        {{end}}
    {{end}}
    </div>
</div>
{{end}}