{{define "head"}}
{{$site := data "site.json"}}
<meta charset="utf-8">
<title>{{if .Title}}{{.Title}} - {{end}}{{if .Meta.title}}{{.Meta.title}} - {{end}}SiteGen</title>
<meta name="description" content="{{if .Meta.description}}{{.Meta.description}}{{else}}{{$site.description}}{{end}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{.BasePath}}css/styles.css">
{{template "addHead" .}}
{{end}}

{{define "addHead"}}{{end}}
{{define "title"}}{{end}}