name: "latest-release"

on:
  push:
    branches:
      - "master"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  latest-release:
    name: "Latest Release"
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: "Run tests"
        run: go test ./...

      - name: "Build"
        run: ./build.sh
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest Build"
          files: |
            ./build/*

      - name: Build site
        run: |
          go build
          ./sitegen -clean -minify -base /sitegen
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './public/sitegen'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4